<!DOCTYPE html>
<html>
<head>
    <title>Visulizing Global Terrorist Incidents</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .ht{
            font-size:60px;
            font-family: serif;
        }
        a{text-decoration: none; color: white;}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row"></div>
            <div class="text-center ht">
                Visulizing Global Terrorist Incidents Through Web Scraping
            </div>
            <div class="row"></div>
            <a href="injury-wise" class="btn btn-primary" role="button">Global Terrorist Incident [Injury-wise]</a>
            <a href="death-wise" class="btn btn-danger" role="button">Global Terrorist Incident [Dead-wise]</a>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</body>
</html>